---
layout: default
title: Каталог
---


    <main class="main-block clearfix">
      <div class="content">
        <div class="breadcrumbs">
        	<a href="#" class="breadcrumbs_item">Главная</a>»
        	<a href="#" class="breadcrumbs_item">Категория</a>»
        	<span href="#" class="breadcrumbs_item is-current">Название Категории</span>
        </div>
        <!-- breadcrumbs -->
        <div class="collection">
        	<h1 class="collection__headline">
        		Название Категории
        	</h1>
        	<div class="collection__description v-content">
        		<p>
        			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam nulla repellat provident soluta sequi odit. Nam eius fugiat cumque animi mollitia, dolorem iure ratione autem voluptates, nihil recusandae repellat ullam!
        		</p>
        		<p>
        			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam veniam recusandae, rerum nesciunt ab ut quam magnam culpa repellendus praesentium.
        		</p>
        	</div>
        	<!-- collection__description -->
        </div>
        <!-- collection -->

		<div class="collection-top-panel clearfix">
			<div class="sorting">
        <div class="sorting__variant sorting__block">
          <span class="sorting__block_title">Сортировать по:</span>
          <select name="" id="" class="sorting__block_select">
            <option value="name1">название01</option>
            <option value="name2">название02</option>
            <option value="name3">название03</option>
            <option value="name4">название04</option>
            <option value="name5">название05</option>
          </select>
        </div>
        <!-- sorting-variant -->

        <div class="sorting__pages sorting__block ">
          <span class="sorting__block_title">На странице: </span>
          <select name="" id="" class="sorting__block_select">
              <option value="12">12</option>
              <option value="12">12</option>
              <option value="12">12</option>
              <option value="12">12</option>
              <option value="12">12</option>
            </select>
        </div>
      </div>
      <!-- sorting -->

      <div class="compare-info">
        <a href="{{site.baseurl}}/compare.html" class="compare-info__link">
          Сравнение <span class="compare-inof__link_number">(7)</span>
        </a>
      </div>
      <!-- compare-info -->
      <div class="layout-buttons">
        <button class="layout-buttons_item layout-buttons_list js-toList" data-layout="list">
          <i class="fa fa-list"></i>
        </button>
        <button class="layout-buttons_item layout-buttons_grid layout js-toGrid is-active" data-layout="grid">
          <i class="fa fa-th"></i>
        </button>
      </div>
      <!-- layout-buttons -->
		</div>
		<!-- collection-top-panel -->

        <section class="product-block collection">
          <h3 class="product-block__headline">Название блока</h3>
          <div class="product-block__products clearfix grid">
            {% for product in (1..6) %}
              {% include product-block.html %}
            {% endfor %}
          </div>
        </section>
        <!-- product-block -->
        <div class="pagination">
          <span href="#" class="pagination__item is-active">1</span>
          <a href="#" class="pagination__item">2</a>
          <a href="#" class="pagination__item">3</a>
          <a href="#" class="pagination__item">4</a>
        </div>
      </div>
      <!-- content -->
      
		{% include sidebar.html %}

    </main>
    <!-- main-block -->