<article class="product-block__products_item">

  <figure class="product-block__products_item_img">
  <a href="" class="product-block__products_item_img_link">
    <img src="{{site.baseurl}}/img/product-img-{{forloop.index}}.png" alt="">
  </a>
  </figure>
  <!-- product-block__products_item_img -->



  <h1 class="product-block__products_item_title">
  <a href="#" class="product-block__products_item_title_link">
    Название продукта {{forloop.index}}
  </a>
  </h1>
  <!-- product-block__products_item -->

  <div class="product-block__products_item_description ht">
    <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Вдали, сбить до взобравшись не от всех свою, коварных даль текст.</p>
  </div>

  <div class="product-block__products_item_buyzone">
    <span class="product-block__products_item_buyzone_price">4578 Руб</span>
    <span class="product-block__products_item_buyzone_price old_price">5578 Руб</span>
    <button class="product-block__products_item_buyzone_buy js-addToCart">
      <i class="fa fa-shopping-cart"></i>
    </button>
  </div>
  <!-- product-block__products_item_buyzone -->



  <div class="product-block__products_item_compare">
  <button class="product-block__products_item_buy_list ht">
    Купить
  </button>
    <a href="#" class="product-block__products_item_compare_link">
      <i class="fa fa-bar-chart-o"></i>
      <span class="product-block__products_item_compare_link_text js-compareText">
        Сравнить
      </span>
    </a>
  </div>
</article>
<!-- products-block__products_item -->