<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/screen.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">
</head>
<body class="{% if page.url == '/' %} home {% else %} {{page.url | first }} {% endif %}">

  <header class="header">
    <div class="header__top header__top_inner clearfix">
      <a href="tel:+37494773302" class="header__top_site-phone ">
        <i class="fa fa-phone "></i>
        1-800-234-5677
      </a> 
      <a href="#" class="header__top_registration">
        <i class="fa fa-file-o">
          
        </i>
        Регистрация
      </a>
      <a href="#" class="header__top_login">
        <i class="fa fa-lock"></i>
        Войти
      </a>

    </div>
  </header>
  <!-- End header -->

  <section class="b-top clearfix">
    <h1 class="b-top__siteTitle">
      <a class="b-top__siteTitle_link">
        <img  src="img/logo.png" class="b-top__siteTitlte_link_img">
          
        </img>
      </a>
    </h1>
    <!-- b__top_site-title -->
  <div class="b-top__cart">
    <a class="b-top__cart_link">
      <span class="b-top__cart_link_text">
        Корзина:
      </span>
      <span class="cart-count js-cartCount">0 товар(ов)</span>
      -
      <span class="cart-price js-cartPrice">12654 Руб</span>
      <i class="fa fa-chevron-circle-down"></i>
    </a>
  </div>
  <!-- b__top_cart-wrap -->
  <div class="b-top__search">
    <form>
      <button class="b-top__search_submit">
        <i class="fa fa-search "></i>
      </button>
      <input class="b-top__search_inputSearch" placeholder="Поиск">
        
      </input>
    </form>
  </div>
  </section>
  <!-- b__top -->

  <section class="main main_index">
    <header class="main__header">
      <nav class="main__header_navigation clearfix">
        <a href="" class="main__header_navigation_link is-active">
          <i class="fa fa-home"></i>
          <span class="main__header_navigation_link_text">Главная</span>
        </a>
        <a href="" class="main__header_navigation_link">
          <i class="fa fa-folder-o"></i>
          <span class="main__header_navigation_link_text">Каталог</span>
        </a>
        <a href="" class="main__header_navigation_link">
          <i class="fa fa-bullhorn"></i>
          <span class="main__header_navigation_link_text">Новости</span>
        </a>
        <a href="" class="main__header_navigation_link">
          <i class="fa fa-envelope"></i>
          <span class="main__header_navigation_link_text">Контакты</span>
        </a>
        <a href="" class="main__header_navigation_link">
          <i class="fa fa-shopping-cart"></i>
          <span class="main__header_navigation_link_text">Корзина</span>
        </a>
      </nav>
    </header>
    <!-- main__header -->

  </section>
  <!-- main -->


  <script src="{{"/js/jquery-1.8.3.min.js" | prepand: site.baseurl }}"></script>
  <script src="{{"/js/functions.js" | prepand: site.baseurl}}"></script>
</body>
</html>